<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BLL.Properties.Settings.ql_quancafeConnectionString"
            connectionString="Data Source=.\;Initial Catalog=ql_quancafe;Persist Security Info=True;User ID=sa2012;Password=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>